:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header & Footer */

header, footer {
  background-color: #1A2B43;
  color: white;
  padding: 1rem;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
 }

 .app-header {
  background-color: #1A2B43;
  color: white;
  padding: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title h1 {
  margin-left: 1rem;
}

/* header clickables */

.header-image {
  width: 5rem;
  height: auto;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 0.625rem; /* Space between icons */
  align-items: center;
}

button.icon img.doll-icon {
    margin: 0 0.9375rem;
    width: 3.125rem; 
    height: auto;
  }
  
  .icon.active { /* glow! */
    filter: drop-shadow(0 0 0.625rem rgba(255, 165, 0, 0.8)) 
            drop-shadow(0 0 1.25rem rgba(255, 140, 0, 0.6))
            drop-shadow(0 0 1.875rem rgba(255, 120, 0, 0.4))
            drop-shadow(0 0 2.5rem rgba(255, 100, 0, 0.2));
  }
  
  button.icon {
    border: none;
    background: transparent;
  
  }
  
  img.doll-icon{
    border: none;
    background: transparent;
    cursor: pointer;
  }

/* Main Page */

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
}

main {
    background-color: white;
    width: 60%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.about {
color: #1A2B43;
padding-left: 3rem;
padding-right: 2rem;
line-height: 150%;
}

.instructions li{
line-height: 180%;
font-size: 112%;
}

/* Paper dolls */
.doll-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
  
  .doll-img, .overlay {
    position: absolute;
    /* top: 50%; */
    top: 40%;
    left: 50%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .background {
    z-index: 1;
    position: absolute;
  }

  .doll {
    z-index: 2;
    position: absolute;
  }

  .overlay-bottom {
    z-index: 3;
    position: absolute;
  }
  
  .overlay-top {
    z-index: 4;
    position: absolute;
  }
  





/* Sidebar */

aside {
  background-color: #f4f4f4;
  color: #1A2B43;
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.era {
  margin-bottom: 0.625rem;
}

.era.active {
  font-weight: bolder;
}

.sidebar img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 0.625rem;
  }

  .tops img, .bottoms img {
    vertical-align: top;
  }

  @media (max-width: 768px) {
    /* remove doll images from header & stack in the sidebar for mobile */
    header .doll-icon {
      display: none;
    }
  
    aside {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .doll-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    .doll-icons .icon {
      margin-bottom: 0.625rem;
    }
  }

  